body>div{

    text-align: center;
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;

}
body{
    background-color: black;
}
div>div>div>div{
    background-color: bisque;
    margin-bottom: 10px;
}