.header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 152px;
    align-items: center;
}
.header > div{
    display: flex;
    align-items: center;
}
.header > div > img{
    width: 72px;
    border-radius: 36px;
    height: 72px;
    margin-right: 10%;

}
.header > form > input[type=text] {
    height: 30px;
    width: 90%;
    border-radius: 10px;
    position: relative;
    bottom: 16px;
}
.header > form{
    display: flex;
    justify-content: center;
    width: 40%;
    border-radius: 10px;
}
.header > img:nth-child(1){
    margin-left: 5%;
    width: 20%;
}
.d-flex{
    display: flex;
}
.themeHome{
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 70px;

}
.themeHome a{
    margin-right: 15%;
    text-decoration: none;
    color:  black;
    font-weight: 600;
}
.themeHome button{
    background-color: slategrey;
    color: white;
    border-radius: 3px;
    font-weight: 600;
}