.light{
    background-color: beige;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}
.d-flex{
    display: flex;
    justify-content: center;
}
#root > div > div > button{
    margin-left: 80%;
}
.Main{
    width: 80%;
}