.dark>div{
    background-color: black;
    color: darkseagreen;
}
.dark>div>div{
    background-color: black;
    color: darkseagreen;
}
.dark>div>div>div{
    background-color: black;
    color: darkseagreen;
}
.dark p *{
    color: darkseagreen;
}
.dark .genre > a> p{
    color: darkseagreen;
    border-color: slategray;
}
.dark  a > p {
    color: darkseagreen;
}
.dark input[type=text]{
    background-color: slategray;
}
.dark div.MuiBox-root > p{
    color: greenyellow;
    font-weight: 800;
}
#root div.MuiBox-root> div{
    height: 10px;
}
#root div.MuiBox-root> p{
    font-weight: 800;
}
.dark .themeHome{
    background-color: rgba(0, 0, 0, 0);
}
.dark .themeHome>a{
    color: darkseagreen;

}
.dark .themeHome>button{
    background-color: blanchedalmond;
    color: black;
}
@media screen and (max-width: 720px) {
    .header{
        justify-content: space-between;
        margin: 0;
        width: 100%;
    }
    .header > img:nth-child(1) {
        margin-left: 1%;
    }
    .header form{
        width: 30%;
    }
    .themeHome a{
        margin-right: 30%;
    }
    .themeHome button{
        font-size: 40px;
    }
    .themeHome {
        position: relative;
        top: -10px;
        font-size: 40px;
    }
    .MOVIES{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;

    }
    .MOVIES .MOCA{
        width: 46%;
        margin: 1%;
    }
    .genre{
        display:none
    }
    .MOCA a>img{
        width: 95%;
        margin: 0;
    }
    .info{
        margin: 0;
        width: 100%;
    }
    .header h4 {
        display: none;
    }

}