.judas{
    display: flex;
    flex-direction: column-reverse;
}
.judas>div{
    background-color: black;
    color: whitesmoke;
    margin-bottom: 5px;
}
body{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    background-color: gray;
}
img{
    height: 100px;
}
.d-flex{
    display: flex;
}
h2{
    display: flex;
    align-items: center;
    width: 60%;
}
a{
    border: 2px solid black;
    width: 80%;
    background-color: chartreuse;
    color:black;
    margin: 20px;
    font-weight: 800;
    border-radius: 20px;
    text-decoration: none;
    padding:20px;
    position: relative;
    top: 45px
}
#root > div:nth-child(1){
    height: 100px;
}
img{
    margin-left: 12%;
}