.judas{
    display: flex;
    flex-direction: column-reverse;
}
.judas>div{
    background-color: black;
    color: whitesmoke;
    margin-bottom: 5px;
}
body{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    background-color: gray;
}
img{
    height: 100px;
}
.d-flex{
    display: flex;
}
h2{
    display: flex;
    align-items: center;
    width: 60%;
}
input{
    height: 30px;
    width: 20%;
    margin: 30px;
    border-radius: 10px;
    border: 2px solid greenyellow;
}
button{
    margin-top: 10px;
    margin-bottom: 30px;
    border: 2px solid black;
    width: 60%;
    background-color: chartreuse;
    color:black;
    font-weight: 800;
    border-radius: 20px;
    height: 40px;
}
.dvaBatonu>button{
    margin: 5px;

}
.d-none{
    display: none;
}
.editForms>input{
    margin: 10px;
}